<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Home Page</title>
  </head>
  <body>
    <h1>Hate and Offensive</h1>
    <br>
    <h1>Language Detection App</h1>
    <br>
    <h5>Billions of people have started using different social networking platform for different purpose.</h5>
    <p>A major issue while using such platform is spread of Hateful and Offensive Language over this platform.
    Hate Speech can have adverse and discriminatory impact on individual.
    Manually monitoring posts or comments of each individual is not possible.
    To deal with this problem I've developed a ML app which can help us detect such kind of Language.
    </p><br>
    <form action="{{url_for('predict')}}" method="post">
        {% if message %}
            <textarea name="text" rows="8" cols="80">
              {{ message }}
            </textarea>
        {% else %}
            <textarea name="text" rows="8" cols="80" required>
            </textarea>
        {% endif %}
        <br>
        <input type="submit" value="Detect">
    </form>
    <br>
    {% if output %}
      <p class="enhance">{{ output }}</p>
    {% endif %}
    <br>
    <br>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
